build.ok
test.ok
test*.exe
test*.pdb
test*.dll

lib*.dll
lib*.pdb
lib*.xml

core/forwarders/orig
core/forwarders/split

core/queriesCustomQueryOps/negativetest.err
core/queriesCustomQueryOps/negativetest.vserr

Library1.dll

core/printing/z.output.test.*.txt
core/printing/z.raw.output.test.*.txt
core/printing/z.output.test.*.diff

core/quotes/cslib.dll

core/parsing/crlf.dll
core/parsing/crlf.pdb
core/parsing/toplet.exe
core/parsing/toplet.pdb

core/unicode/kanji-unicode-*.dll
core/unicode/kanji-unicode-*.pdb
core/unicode/out?.txt

core/internalsvisible/main.exe
